$mainpadding:20px;
$smallpadding:10px;
$mainradius:10px;


$maintransition:.5s;



$secoundcolor:#555;
$thirdcolor:#999;
$maincolor:#f6f6f6;
$fontcolor:#13cbb8;


$big-font:50px;
$main-font:15px;
$lineheight:1.7;
$litterspacing:1.02px;
